@import '../../base/sass/functions';
@import 'variables';
@import '../../base/sass/_base_crit.scss';

.search-wrapper {
  width: 100%;
}

#header-top-bar, header {
  a:not(.dropdown-item):not(.btn) {
    text-decoration: none;
    color: $header-color;

    &:hover {
      color: $primary;
    }
  }
}

header {
  .form-control, .form-control:focus {
    background-color: $header-bg-color;
    color: $header-color;
  }
}

.form-control {
  font-family: $input-font-family;
}

/* spacing end */

.btn-secondary {
  background-color: $secondary;
  color: $gray-lighter;
}

.productlist-filter-headline {
  border-bottom: $border-width solid $border-color;
}

.content-cats-small {
  margin-bottom: map_get($spacers, 6);
  @include media-breakpoint-up(md) {
    > div {
      margin-bottom: map_get($spacers, 3);
    }
  }
  .sub-categories {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;

    .subcategories-image {
      justify-content: center;
      align-items: flex-start;
      margin-bottom: map_get($spacers, 3);
    }
  }

  @include clearfix();

  .outer {
    margin-bottom: map-get($spacers, 2);
  }

  .caption {
    margin-bottom: map-get($spacers, 2);

    @include media-breakpoint-up(md) {
      text-align: center;
    }
  }

  hr {
    margin-top: map-get($spacers, 3);
    margin-bottom: map-get($spacers, 3);
    padding-left: 0;
    list-style: none;
  }
}

/* image loading indicator */

.lazyloading {
  color: transparent;
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
}