#footer {

	li {
		margin-bottom: map-get($spacers, 2);
	}
	.footer-additional-wrapper {
		li {
			margin-right: map-get($spacers, 2);
			margin-bottom: map-get($spacers, 2);
		}
	}
	.card {
		.card-title {
			color: $gray-dark;
		}
		.card-body {
			padding: 0;
		}
	}
	.nav-link {
		padding: $nav-link-padding-y*0.4 0;
	}

	.footer-logo {
		width: auto;
		height: 18px;
		vertical-align: bottom;
	}
	.list-group-item {
		background: transparent;
	}
	.newsletter-footer {
		text-align: center;
		@include media-breakpoint-up(md) { text-align: left; }
		align-items: center;
		.newsletter-email-wrapper {
			margin-bottom: 0;
		}
	}
	&.newsletter-active {
		#footer-boxes {
			margin-top: map-get($spacers, 4);
			@include media-breakpoint-up(lg) { margin-top: map-get($spacers, 7); }
		}
	}
	.footer-social-media {
		margin-bottom: map-get($spacers, 2);
		margin-top: map-get($spacers, 5);
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-bottom: 0;
		}
	}

	/* Colors to be changed more easily by template settings */
	a:not(.btn),
	.productlist-filter-headline,
	.newsletter-footer-heading,
	.btn-outline-primary {
		color: $footer-color;
	}
	.btn-outline-primary {
		&:hover {
			color: color-yiq($primary);
		}
	}
	a:not(.btn) {
		&:hover {
			color: $primary;
		}
	}
	.label-slide .form-group:not(.exclude-from-label-slide):not(.checkbox) {
		label {
			color: $body-color;
		}
	}
	.box-categories, .box-linkgroup {
		.dropdown .collapse {
			background: $footer-bg-color;
		}
	}
	.table-striped {
		tr {
			background-color: $footer-bg-color;
		}
	}
}

.sidepanel-left {
	@include media-breakpoint-down(md) {
		margin-top: map-get($spacers, 4);
	}
	@include media-breakpoint-up(lg) {
		padding-right: map-get($spacers, 5);
	}
	@include media-breakpoint-up(xl) {
		padding-right: map-get($spacers, 7);
	}
}
